# dependencies
node_modules/
app/node_modules/
server/node_modules/

# build outputs
app/dist/
dist/

# logs and temp
*.log
.vite/
.cache/

# env files
.env
.env.*
server/.env

# editors
.DS_Store
.vscode/

!*.env.example
